@{
  Layout = "_Layout";
}

<h1>Welcome to the Doctors who kind of care! </h1>
<p>@Html.ActionLink("See All Doctors", "Index", "Doctors")</p> 
<p>@Html.ActionLink("Create Doctor", "Create", "Doctors")</p> 
<p>@Html.ActionLink("See all Patients", "Index", "Patients")</p>
<p>@Html.ActionLink("Add Specialty", "Create", "Specialties")</p>